$font-family-base: 'Roboto', sans-serif;
$headings-font-family: 'Orbitron', sans-serif;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;

$border-radius: 0.9375rem; /* 15px */

$primary: #4FC7F7;
$secondary: #4FF7B9;

$primary-text-emphasis: #0f172a;

$grid-breakpoints: (
        xs: 0,
        sm: 36rem, /* 576px */
        md: 50rem, /* 800px */
        lg: 64rem, /* 1024px */
        xl: 75rem, /* 1200px */
        xxl: 87.5rem /* 1400px */
);

$spacer: 1.5rem;

// Customizare Input Range (cu 50% mai mare adica 1.5rem, pt ca default font e 1rem)
$form-range-thumb-width: 1.5rem;
$form-range-thumb-height: 1.5rem;
$form-range-thumb-bg: #4FF7B9; // Culoarea ta Highlight
$form-range-track-bg: #4F92F7; // Culoarea ta de Border

// Customizare Butoane (grosime border si raza)
$btn-border-radius: 0.75rem;
$btn-border-width: 3px;

@import "../../node_modules/bootstrap/scss/bootstrap";

main p a {
  display: inline-block;
  position: relative;
  text-decoration: underline;
  border: 0.125rem solid transparent;
  padding: 0.1875rem 0.5rem;
  border-radius: 0.25rem;

  background-image: radial-gradient(var(--menu-hover) 0%, var(--menu-hover) 40%, transparent 80%, transparent 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0% 0%;
  transition: background-size 0.4s ease, border-color 0.4s ease;

  &:hover {
    background-size: 100% 100%;
  }

  &:active {
    border-color: var(--color-border);
  }
}